.container {
  margin: 4rem auto 8rem;
  border-radius: 1rem;
  background-color: #415a77;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 64rem;
  width: 90%;
}